body {
    font-family: ‘Noto Sans TC’,sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: ‘Noto Sans TC’,sans-serif;
    text-transform: none;
}

.subheading {
    font-family: ‘Noto Sans TC’,sans-serif;
    text-transform: none;
}
.expedu_icon {
    color: #495057;
    text-decoration: none;
 }
 
 .expedu_icon:hover {
    color: var(--bs-primary);
 }
 
 :root {
    --bs-primary: #66B3FF;
    --bs-primary-rgb: 102, 179, 255;
    --bs-secondary: #00FFFF;
    --bs-secondary-rgb: 0, 255, 255;
 }
 
 .expedu_icon:hover {
    color: var(--bs-secondary);
 }
 
 a {
    color: var(--bs-primary);
 }
 
 a:hover {
    color: var(--bs-secondary);
 }
 
 .social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
 }

.tt {
   height: 4rem;
}

.btn {
   background-color: var(--bs-primary);
}

.btn:hover {
   background-color: var(--bs-secondary);
}
 